.search__button {
  margin: .5rem auto;
  display: block;
  border: .25rem solid mixin-color('bt-purple');
  border-radius: 10rem;
  font-weight: 900;
  transition: all 0.25s;

  &:hover {
    background: mixin-color('bt-purple');
    color: mixin-color('white');
    transform: scale(1.075);
    transition: all 0.25s;
    cursor: pointer;
  }
}

.results__container {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 2rem;
}

.article {
  &__container {
    display: inline-flex;
    flex-direction: column;
    border-radius: 1rem;
    transition: all .25s;

    &:hover, :focus {
      transform: scale(1.075);
      transition: all .25s;
    }
  }

  &__title {
    border-bottom: .5rem solid mixin-color('mist');
  }

  &__author {
    border-bottom: .5rem solid mixin-color('mist');
    word-break: break-word;
  }

  &__url {
    font-style: italic;
    word-break: break-word;
  }
}