.search-button {
  padding: 1rem;
  border-radius: 1rem;
  background: #fff;
}

.results-container {
  background: #CCC;
  padding: 2.5rem;
}

.article-container {
  display: inline-flex;
  flex-direction: column;
  background: #fff;
  width: 20rem;
  padding: 2.5rem;
  margin: 1rem;
  border-radius: 1rem;
}

.article-title {
  font-weight: 900;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .5rem solid #CCC;
}

.article-author {
  font-weight: 900;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .5rem solid #CCC;
}

.article-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.article-url {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  word-break: break-word;
}
