.color {
  &--white {
    color: mixin-color('white');

    &--override {
      color: mixin-color('white') !important;
    }
  }
  &--black {
    color: mixin-color('black');

    &--override {
      color: mixin-color('black') !important;
    }
  }
  &--charcoal {
    color: mixin-color('charcoal');

    &--override {
      color: mixin-color('charcoal') !important;
    }
  }
  &--mist {
    color: mixin-color('mist');

    &--override {
      color: mixin-color('mist') !important;
    }
  }
}
