/* TODO: Rewrite this as SCSS using SASS Preprocessor. */
/* TODO: Make this a more generic file. */

.bt-banner {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5514b4;
    color: #ffffff;
    margin: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.bt-header__text {
    margin-left: 1rem;
}

.block {
    display: block;
}